{{#foreach navigation}}
    <a class="menu-item menu-item-{{slug}}{{#if current}} menu-item-current{{/if}}"
        href="{{url absolute="true"}}" target="_blank" rel="noopener noreferrer">{{label}}</a>
{{/foreach}}