{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        <div class="post-feed container medium">
            {{#get "posts" limit="all" filter="tag:hash-codex-alchemist" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/get}}
        </div>
    </main>
</div>