{{!< default}}

<div class="content-area">
    <main class="site-main" id="{{@site.comments_enabled}}-{{@site.comments_access}}">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        {{#is "post"}}
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
        {{/is}}
        {{> "comments"}}
    </main>
</div>