{{!< default}}

<div class="content-area">
    <main class="site-main" id="{{@site.comments_enabled}}-{{@site.comments_access}}">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        {{#is "post"}}
            {{#if @custom.show_related_posts}}
                {{> related}}
            {{/if}}
        {{/is}}
        {{#post}}
            {{#if comments}}
                <section class="gh-comments gh-canvas">
                    <header class="gh-comments-header">
                        <h2 class="gh-comments-title related-title">Member discussion</h2>
                        {{comment_count class="gh-comments-count"}}
                    </header>
                    {{comments title="" count=false}}
                </section>
            {{/if}}
            <section class="gh-comments">
                <hr class="rounded">
                <header class="gh-comments-header">
                    <h2 class="gh-comments-title related-title">Public discussion</h2>
                </header>
                {{> "comments"}}
            </section>
        {{/post}}
    </main>
</div>