.gh-comments {
    width: calc(100% - 8vw) !important;
    margin: auto;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .giscus-comments {
        width: calc(100%) !important;
        margin: auto;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .giscus-comments {
        width: calc(100% - 6vw) !important;
        margin: auto;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .giscus-comments {
        width: calc(100% - 20vw) !important;
        margin: auto;
    }
}

.gh-comments-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.gh-comments .gh-comments-title {
    margin-bottom: 28px;
}

.gh-comments-header .gh-comments-title {
    margin-bottom: 0;
}

.gh-comments-count {
    color: var(--color-secondary-text);
    padding-left: 6px;
}