.gh-comments {
    width: calc(100% - 8vw) !important;
    margin: auto;
}

.giscus-comments {
    width: calc(100%) !important;
    margin: auto;
}

.gh-comments-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.gh-comments .gh-comments-title {
    margin-bottom: 28px;
}

.gh-comments-header .gh-comments-title {
    margin-bottom: 0;
}

.gh-comments-count {
    color: var(--color-secondary-text);
    padding-left: 6px;
}